/dts-v1/;

#include "msm8916-yiming-uz801v3.dts"

/ {
	model = "UFI103S (Based on UFI001C)";
	compatible = "thwc,ufi001c", "yiming,uz801v3", "qcom,msm8916";

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&gpio_leds_default>;
		pinctrl-names = "default";

		led-r {
			label = "red:power";
			gpios = <&msmgpio 22 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-g {
			label = "green:wlan";
			gpios = <&msmgpio 21 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "phy0tpt";
		};

		led-b {
			label = "blue:wan";
			gpios = <&msmgpio 20 GPIO_ACTIVE_LOW>;
		};
	};
};

&usb_id {
	id-gpios = <&msmgpio 110 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&usb_id_default>;
	pinctrl-names = "default";
};
